<div class="row">
  <div class="wrapper">
    <%= form_for(@guest) do |f| %>
      <% if @guest.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@guest.errors.count, "error") %> prohibited your vote from being saved:</h2>

          <ul>
          <% @guest.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <%= f.label :name %><br>
        <%= f.text_field :name %>

        <%= f.label :message %><br>
        <%= f.text_field :message %>
        
    <div class="radio-button">
        <%= f.label :boy %><br>
        <%= f.radio_button :boy, "boy", onClick: "validateBoy()" %>
    </div>
    <div class="radio-button">

        <%= f.label :girl %><br>
        <%= f.radio_button :girl, "girl", onClick: "validateGirl()" %>
    </div>
    
        <%= f.submit %>
    <% end %>
  </div>
</div>