<div class="row bgpara">
  <div class="wrapper ">
    <div class="para-box">
      <h1>Kelly and Jim are having a baby!</h1>
      <p>That's right, folks. It looks like Kelly and Jim are having a baby. Come this November(ish), the J & K duo will be a trio. We have it on good authority that it won't be a quartet, which is alright by us. We don't know the gender yet and we don't know the name yet, but we'll let you know when we do.</p>
      <p>We built this site to give an all-in-one spot for people to come and find party and registry information. That's a little boring, though, so we decided to add some voting action on here. Yep, that's right, you can vote on the baby's gender! You can vote for what you <em>think</em> the baby will be, or for what you <em>want</em> the baby to be.</p>
      <p>We also wanted to let people get really personal and leave us all their messages. Of course we want to hear from everyone so feel free to leave us messages with your name so we can see how everyone is doing! Be careful though, if you scroll down some, you'll see all the messages... so nothing too crazy.</p>
      <h4>Thanks for visiting! Make sure you <%= link_to "vote", new_guest_path %> before checking out the <%= link_to "registry", welcome_registry_path %> and <%= link_to "party info.", welcome_partyinfo_path %>!</h4>
    </div>
  </div>
</div>

<div class="row votes-row">
  <%= render 'partials/vote' %>
</div>

<%= render 'guests/scroll' %>

<div class="row blue">
  <div class="wrapper">
    <h3>Registry Info.</h3>
    <p>The registry is going through a company called Babylist.<br />
    All the items we have registered for are built into the list on that site. You can find our registry <%= link_to "here", "http://babylistregistry.com/kelly-and-jim-merritt", target: "blank" %>.<br />
   We also have some extra info for you <%= link_to "here", welcome_registry_path %>.</p>
  </div>
</div>

<div class="row bgpara">
  <div class="wrapper ">
      <%= link_to "Cast Your Vote Here!", new_guest_path, :class => "big-button" %>
  </div>
</div>