<div class="header">
  <div class="wrapper">
    <div class="logo">
      <%= link_to "merrittbaby.com", root_path %>
    </div>
    <nav>
      <ul>
        <li><%= link_to "registry", welcome_registry_path %></li>
        <li><%= link_to "party info", welcome_partyinfo_path %></li>
        <li><%= link_to "vote", new_guest_path %></li>
        <li><%= link_to "help", welcome_questions_path %></li>
      </ul>
    </nav>
  </div>
</div>