<!DOCTYPE html>
<html>
<head>
  <title>The Merritt Baby</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="//use.typekit.net/han1ref.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>  
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |message_type, message| %>
      <div class="row">
        <div class="wrapper">    
          <div class="alert-<%= message_type %>"><%= message %></div>
        </div>
      </div>
    <% end %>
    <%= yield %>
    <% if Rails.env.development? %>
      <div class="row">
        <%= debug(params) %>
      </div>
    <% end %>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>